{% extends "base.html" %}

{% block content %}
Main
{% endblock %}
<title>{% block title %} Регистрация{% endblock %}</title>
{% block body %}
<title>{{ Регистрация }}</title>
<body class="bg-light">
<div class="container">
    <main>
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}

            <div class="rog g-5">

                <h4 class="mb-3">Регистрация</h4>
                <div class="row g-3">
                    {% if form.phone_num.errors %}
                    {% for error in form.phone_num.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                    {% if form.pass_num.errors %}
                    {% for error in form.pass_num.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="message">{{ message }}</div>
                    <div class="col-sm-6">
                        <div>{{ form.first_name.label }} {{ form.first_name(class="form-control form-control-lg") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>{{ form.second_name.label }} {{ form.second_name(class="form-control form-control-lg") }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div>{{ form.login.label }} {{ form.login(class="form-control form-control-lg") }}</div>
                    </div>

                    <div class="col-12">
                        <div>{{ form.email.label }} {{ form.email(placeholder="name@example.com", class="form-control
                            form-control-lg") }}
                        </div>
                    </div>

                    <div class="col-12">
                        <div>{{ form.password.label }} {{ form.password(class="form-control form-control-lg") }}</div>
                    </div>

                    <div class="col-12">
                        <div>{{ form.confirm.label }} {{ form.confirm(class="form-control form-control-lg") }}</div>
                    </div>

                    <div class="col-12">
                        <div>{{ form.phone_num.label }} {{ form.phone_num(class="form-control form-control-lg") }}</div>
                    </div>

                    <div class="col-12">
                        <div>{{ form.pass_num.label }} {{ form.pass_num(class="form-control form-control-lg") }}</div>
                    </div>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Зарегистрироваться</button>
                    <div class="col-12">
                        <input type="checkbox" id="realtor" name="realtor" value="true">
                        <label for="realtor">Я являюсь риелтором</label><br>

                    </div>


                </div>

            </div>
        </form>
    </main>
</div>
</body>

{% endblock %}
